/*! Place your custom styles here */
.bar .sg-logo {
    max-height: 40px;
}

.bg--secondary {
    background: #f5f0eb;
}

.sg-contact-bg {
    background: #ccdee0;
}

.sg-btn-primary,
.sg-btn-primary:visited {
    background: #2A3757;
    border-color: #2A3757;
}

.sg-btn-primary:hover {
    background: #555F79;
}

.sg-typed-color--primary {
    color: #2A3757 !important;
}

.article__body a,
.sg-link {
    color: #2A3757;
}

.article__body a:hover,
.sg-link:hover {
    color: #555F79;
}

.sg-search-input {
    border: 1px solid #2A3757 !important;
}

.hide {
    display: none;
}

.sg-socialShareButton-holder {
    padding: 10px 0 10px 0;
}

.sg-socialShareButton {
    width: 50%;
}

.sg-sociallinks-footer {
    text-align: right;
}

.sg-blog-next-prev-holder {
    margin-top: 5.57142857em;
}

.sg-blog-next-prev-holder a {
    color: #2A3757;
}


article .article__body ol {
    font-size: 1.35714286em;
    line-height: 1.68421053em;
    font-weight: 400;
    color: #808080;
}

article .article__body ol li {
    margin-left: 20px;
}

@media all and (max-width: 1190px) {

    .sg-socialShareButton {
        width: 90%;
    }

    .sg-sociallinks-footer {
        text-align: center;
    }

}