<footer class="text-center-xs space--xs">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <ul class="list-inline">
                    <li>
                        <a class="inner-link" href="#why-positive-communication">
                            <span class="h6 type--uppercase"><p>why positive communication?</p></span>
                        </a>
                    </li>
                    <li>
                        <a class="inner-link" href="#services">
                            <span class="h6 type--uppercase"><p>services</p></span>
                        </a>
                    </li>
                    <li>
                        <a class="inner-link" href="#about-cate">
                            <span class="h6 type--uppercase"><p>about cate</p></span>
                        </a>
                    </li>
                    <li>
                        <a class="inner-link" href="#contact">
                            <span class="h6 type--uppercase"><p>contact</p></span>
                        </a>
                    </li>
                    <li>
                        <a class="inner-link" href="/blog">
                            <span class="h6 type--uppercase"><p>blog</p></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-5 text-right text-center-xs">
                <ul class="social-list list-inline list--hover">
                    <li>
                        <a href="https://linkedin.com/in/catestewartgifford" class="inner-link" target="_blank"><i class="socicon icon socicon-linkedin icon--xs"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/stewgiff" class="inner-link" target="_blank"><i class="socicon icon socicon-twitter icon--xs"></i></a>
                    </li>
                    <li>
                        <a href="#" target="_blank"  data-tooltip="Find me on Clubhouse @StewGiff"><i class="socicon icon material-icons icon--xs">keyboard_voice</i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-7">
                <span class="type--fine-print">© <span class="update-year">2021</span>&nbsp;StewGiff</span>
            </div>
        </div>
    </div>
</footer>