<div class="modal-container hide" data-modal-index="0" data-modal-id="cta-modal">
    <div class="modal-content section-modal">
        <section class="unpad ">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6 col-12">
                        <div class="feature feature-1">
                            <div class="feature__body boxed boxed--lg boxed--border text-center">
                                <div class="modal-close modal-close-cross"></div>
                                <div class="text-block">
                                    <h3>Get In Touch</h3>
                                    <p>Connect with me to identify and discuss your communication needs.</p>
                                </div>
                                {%- include contact_form.html -%}
                            </div>
                        </div>
                        <!--end feature-->
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </section>
    </div>
</div>

<a class="back-to-top inner-link" href="#start" data-scroll-class="100vh:active">
    <i class="stack-interface stack-up-open-big"></i>
</a>

<script src="/js/jquery-3.1.1.min.js"></script>
<script src="/js/flickity.min.js"></script>
<script src="/js/easypiechart.min.js"></script>
<script src="/js/parallax.js"></script>
<script src="/js/typed.min.js"></script>
<script src="/js/datepicker.js"></script>
<script src="/js/isotope.min.js"></script>
<script src="/js/ytplayer.min.js"></script>
<script src="/js/lightbox.min.js"></script>
<script src="/js/granim.min.js"></script>
<script src="/js/jquery.steps.min.js"></script>
<script src="/js/countdown.min.js"></script>
<script src="/js/twitterfetcher.min.js"></script>
<script src="/js/spectragram.min.js"></script>
<script src="/js/smooth-scroll.min.js"></script>
<script src="/js/scripts.js"></script>

</body>
</html>