<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Cate Stewart-Gifford - stewgiff.com</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="css/stack-interface.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/socicon.css" rel="stylesheet" type="text/css" media="all" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
        <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/stack-interface.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/theme.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/custom.css" rel="stylesheet" type="text/css" media="all" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700" rel="stylesheet" />
    </head>
    <body data-smooth-scroll-offset="77">
        <a id="start"></a>
        
        {%- include top_navigation.html -%}

        <div class="main-container">
            <section class="cover switchable text-center">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-md-6">
                            <div class="mt--2">
                                <div class="typed-headline">
                                    <span class="h1 ">Positive Communication</span>
                                    <span class="h1 typed-text typed-text--cursor color--primary sg-typed-color--primary" data-typed-strings="for organisations,for leaders,for educators"></span>
                                </div>
                                <h3>Get the most out of your interactions. Tap into your potential and create relationships that build and strengthen.</h3>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-5"><img alt="Image" src="images/StewGiff_FriendsHeader.png" /></div>
                    </div>
                </div>
            </section>
            <section class="bg--secondary" id="why-positive-communication">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="feature">
                                <h4>Why Positive Communication?</h4>
                                <p>
                                    Positive communication practices promote well-being within individuals, teams and organisations. By understanding and improving the way we communicate, we can strengthen relationships, reduce
                                    misunderstandings, and become clearer about what we want. We make our interactions and our relationships with others truly count; in both our professional and personal lives.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="feature">
                                <h4>Schools &amp; Learning Institutions</h4>
                                <p>
                                    Student well-being is an important part of developing socially conscious and globally-minded individuals ready to take their place in the wider world. Well-being and mental health underpin academic
                                    achievement and prepares our young people to lead rich, purposeful lives.<br />
                                    Learning to communicate well allows young people to understand others and express themselves as they move towards their goals.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="feature">
                                <h4>Teams &amp; Organisations</h4>
                                <p>
                                    For adult learners and organisations, positive communication and education practices enhance teamwork and productivity. It can attract great candidates, reduce staff turnover and help your organisation
                                    stand out as a place people want to do business in, and business with. Organisations that communicate well are more productive, dynamic and happier places to work.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- <section class="space--xs">
                <div class="container">
                    <div class="cta cta--horizontal text-center-xs row">
                        <div class="col-md-12 text-right text-center-xs">
                            <a class="btn btn--primary sg-btn-primary type--uppercase" href="#cta-modal" data-modal-index="0">
                                <span class="btn__text">
                                    Free Online Consultation
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </section> -->

            <section class=" bg--secondary">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="cta cta-1 cta--horizontal boxed boxed--border text-center-xs">
                                <div class="row justify-content-center p-5">
                                    <div class="col-md-12 text-center">
                                        <a class="btn btn--primary sg-btn-primary type--uppercase" href="#cta-modal" data-modal-index="0">
                                            <span class="btn__text">
                                                Free Online Consultation
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <!--end of row-->
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>

            <section id="services">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="feature">
                                <img alt="Image" src="images/StewGiff_WhyPositiveCommunication.png" class="border--round" />
                                <h4>Training &amp; Presentations</h4>

                                <ul class="accordion accordion-2" style="min-height: 0px;">
                                    <li class="">
                                        <div class="accordion__title">
                                            <span class="h5">Read More</span>
                                        </div>
                                        <div class="accordion__content">
                                            <p>
                                                Positive communication training programmes can be developed in consultation with organisations to meet the specific needs of the business or institution.<br />
                                                <br />
                                                Currently all training is being conducted online, however classroom training and speaking engagements may be possible in some situations, and I am happy to discuss possibilities.
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="feature">
                                <img alt="Image" src="images/StewGiff_PositiveCommsForOrganisations.png" class="border--round" />
                                <h4>Positive Communication Practices for Organisations</h4>

                                <ul class="accordion accordion-2" style="min-height: 0px;">
                                    <li class="">
                                        <div class="accordion__title">
                                            <span class="h5">Read More</span>
                                        </div>
                                        <div class="accordion__content">
                                            <p>
                                                Where are the communication weaknesses in your organisation that affect staff well-being and how does this impact the business? We look at what can be done to address these issues, and what
                                                must be done to ensure the success of well-being initiatives.<br />
                                                <br />
                                                Suitable for: <i>Leaders, Managers, Administrators</i><br />
                                                Mode of Delivery: <i>Online</i>
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="feature">
                                <img alt="Image" src="images/StewGiff_PositiveInterpersonalCommunication.png" class="border--round" />
                                <h4>One-on-One Positive Interpersonal Communication Consultation</h4>

                                <ul class="accordion accordion-2" style="min-height: 0px;">
                                    <li class="">
                                        <div class="accordion__title">
                                            <span class="h5">Read More</span>
                                        </div>
                                        <div class="accordion__content">
                                            <p>
                                                Are you communicating as effectively as you think we are? If not, what is that costing you? Through a one-on-one sessions we can look at ways you can strengthen the way you communicate in order to better understand and be better understood. Sessions will identify and focus on your needs and create an action plan to improve your communication style.
                                                <br />
                                                <br />
                                                Suitable for: <i>Staff, Managers and Leaders</i><br />
                                                Mode of Delivery: <i>Online</i>
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="feature">
                                <img alt="Image" src="images/StewGiff_PositiveCommunicationForEducators.png" class="border--round" />
                                <h4>Positive Classroom Communication for Educators</h4>
                                <ul class="accordion accordion-2" style="min-height: 0px;">
                                    <li class="">
                                        <div class="accordion__title">
                                            <span class="h5">Read More</span>
                                        </div>
                                        <div class="accordion__content">
                                            <p>
                                                Using the <a href="https://stewgiff.com/2021/08/29/a-model-for-positive-classroom-communication.html">Model for Positive Classroom Communication</a> we look at positive communication and how it can be applied in the classroom to increase engagement and promote well-being.<br />
                                                <br />
                                                Suitable for: <i>Teachers and Administrators</i><br />
                                                Mode of Delivery: <i>Online</i>
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="feature">
                                <img alt="Image" src="images/StewGiff_ReadingForWellbeing.png" class="border--round" />
                                <h4>
                                    Free Resource: Reading Literacy to Promote Well-being<br />
                                   
                                </h4>
                                <ul class="accordion accordion-2" style="min-height: 0px;">
                                    <li class="">
                                        <div class="accordion__title">
                                            <span class="h5">Read More</span>
                                        </div>
                                        <div class="accordion__content">
                                            <p>
                                                This free series looks at how reading literacy is important for child well-being, the common barriers we can face when getting children to read, and some hints and tips that to use every
                                                day. This resource can be accessed <a href="https://stewgiff.com/2021/08/09/the-reading-literacy-and-wellbeing-series.html">on my blog</a>.<br />
                                                <br />
                                                Suitable for: <i>Educators and Parents</i> <br />
                                                Mode of Delivery: <i>Free PDF Download and a five part mini video series (available through the blog)</i>
                                            </p>
                                        
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="feature">
                                <img alt="Image" src="images/StewGiff_Collaboration.png" class="border--round" />
                                <h4>Collaborations</h4>
                                <ul class="accordion accordion-2" style="min-height: 0px;">
                                    <li class="">
                                        <div class="accordion__title">
                                            <span class="h5">Read More</span>
                                        </div>
                                        <div class="accordion__content">
                                            <p>
                                                As part of the Headwise Education initiative, I collaborate with Parent Tree founder Arlette Shohmelian, to create courses on adolescent and school well-being.<br />
                                                <br />
                                                Please <a class="inner-link sg-link" href="#contact">contact me for more details</a>, or <a href="https://arletteshohmelian.podia.com/about_me" class="sg-link" target="_blank">contact Arlette</a> at Parent Tree.
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="space--sm" id="about-cate">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-md-6">
                            <h4>About Cate Stewart-Gifford</h4>
                            <p class="lead">
                                Communication is one of the most important life skills, yet many of us do not get the best out of our interactions communicate, whether speaking, questioning, or listening. This can lead to untapped potential
                                and missed opportunities.
                            </p>
                            <p>
                                I’m Cate Stewart-Gifford, a teacher, trainer and communication professional with over 25 years of experience in communication roles. As a qualified teacher I have trained and taught students at both
                                elementary and secondary level and am a certified Vocational Trainer of Adult Learners (EQF) with the Human Resources Development Authority here in Cyprus.
                            </p>
                            <p>
                                I have written and delivered courses, workshops, and webinars on topics such as career guidance, language use in the classroom, behaviour and influence, reading literacy for well-being, and positive
                                communication. <br />
                                <br />
                                The training and support I offer focuses on positive communication practices to strengthen individuals, teams and organisations.
                            </p>
                        </div>
                        <div class="col-md-6">
                            <div class="boxed boxed--lg boxed--border bg--secondary">
                                <img alt="image" src="images/StewGiff_WhatIsPositiveCommunication.png" class="border--round" />
                                <h5>What is Positive Communication?</h5>
                                <p>
                                    Positive Communication is an approach to communication that helps us understand, deepen, and strengthen the ways in which we communicate. It increases the value that communication brings to our sense of
                                    self, our relationships, the way we work, and the way we live.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="text-center imagebg sg-contact-bg" data-overlay="4" id="contact">
                <div class="background-image-holder"></div>
                <div class="container">
                    <div class="row justify-content-center no-gutters">
                        <div class="col-md-8 col-lg-7">
                            <form action="https://submit-form.com/4faDNxnx" class="text-left form-email row mx-0" data-success="Thanks for your enquiry, we'll be in touch shortly." data-error="Please fill in all fields correctly.">
                                <div class="col-md-6"><label>Your Name:</label> <input type="text" name="name" class="validate-required" /></div>
                                <div class="col-md-6"><label>Email Address:</label> <input type="email" name="email" class="validate-required validate-email" /></div>
                                <div class="col-md-12"><label>Message:</label> <textarea rows="6" name="Message" class="validate-required"></textarea></div>
                                <div class="col-md-5 col-lg-4"><button type="submit" class="btn btn--primary type--uppercase sg-btn-primary">Send Enquiry</button></div>
                              </form>
                        </div>
                    </div>
                </div>
            </section>
            
            {%- include footer.html -%}

        </div>

      

    {%- include script_body_end.html -%}
